In [3]:
import pandas as pd
import numpy as np

In [4]:
Data=pd.read_csv(r"C:\Users\hi\Downloads\train_extended.csv")
Data

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10
1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19
2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11
3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9
4,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8
...,...,...,...,...,...,...,...,...
199995,1.8125,1.2750,0.4375,42.141532,20.000572,9.979024,11.609120,11
199996,0.9875,0.6750,0.2375,7.980384,3.742134,1.913591,2.267960,6
199997,1.1250,0.9125,0.2875,10.886208,4.904464,1.984465,3.118445,7
199998,1.6250,1.2750,0.4125,33.891827,13.196692,7.866986,10.489315,11
199999,1.5875,1.2500,0.3875,34.373769,17.222321,7.385045,8.788345,11

In [5]:
data=Data.copy()

In [5]:
#1
max1=Data["Length"].max()
max1

7.58349125

In [6]:
min1=Data["Length"].min()
min1

0.0

In [7]:
#2
max1-min1

7.58349125

In [8]:
#3
Data.mean()

Length             1.312448
Diameter           1.020320
Height             0.346028
Weight            23.123436
Shucked Weight     9.989370
Viscera Weight     4.993181
Shell Weight       6.634229
Age                9.950615
dtype: float64

In [9]:
#4
Data.loc[Data["Height"]>0.4,["Age"]]

        Age
2        11
6        14
7        13
10       10
14       14
...     ...
199976   14
199977   21
199984   11
199995   11
199998   11

[55336 rows x 1 columns]

In [10]:
#5
x=Data.loc[Data["Age"]==10,["Height","Weight"]]
x

        Height     Weight
0       0.3750  31.226974
5       0.4000  28.335325
9       0.3375  18.313777
10      0.4250  35.989690
28      0.4125  29.965422
...        ...        ...
199955  0.3750  29.951247
199957  0.4375  32.715323
199974  0.3125  26.180763
199987  0.3875  30.461538
199989  0.3875  34.954934

[30803 rows x 2 columns]

In [11]:
x.mean()

Height     0.383367
Weight    28.243308
dtype: float64

In [12]:
#6
Data["Shell Weight"].sum()

1326845.8295214002

In [13]:
#7
Data["Age"].value_counts()

9     32906
10    30803
8     26818
11    23457
7     18276
12    12717
6     12450
13    10037
14     6352
5      5475
15     4831
16     3191
4      2787
17     2705
18     1953
19     1591
20     1206
21      721
3       625
23      352
22      296
24      110
27       99
29       57
25       51
26       46
1        46
2        42
Name: Age, dtype: int64

In [14]:
#8
data["difference"]=data["Shucked Weight"]-data["Viscera Weight"]
data

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,difference
0,1.5750,1.2250,0.3750,31.226974,12.303683,6.321938,9.638830,10,5.981744
1,1.2375,1.0000,0.3750,21.885814,7.654365,3.798833,7.654365,19,3.855532
2,1.4500,1.1625,0.4125,28.250277,11.127179,7.016501,7.257472,11,4.110678
3,1.3500,1.0250,0.3750,21.588144,9.738053,4.110678,6.378637,9,5.627376
4,1.1375,0.8750,0.2875,14.968536,5.953395,2.962523,3.713785,8,2.990872
...,...,...,...,...,...,...,...,...,...
199995,1.8125,1.2750,0.4375,42.141532,20.000572,9.979024,11.609120,11,10.021548
199996,0.9875,0.6750,0.2375,7.980384,3.742134,1.913591,2.267960,6,1.828543
199997,1.1250,0.9125,0.2875,10.886208,4.904464,1.984465,3.118445,7,2.919999
199998,1.6250,1.2750,0.4125,33.891827,13.196692,7.866986,10.489315,11,5.329706
199999,1.5875,1.2500,0.3875,34.373769,17.222321,7.385045,8.788345,11,9.837277

In [15]:
#9
Data.loc[Data["Age"]>14,["Height"]].loc[Data["Age"]<19].mean()

Height    0.41907
dtype: float64

In [6]:
#10
Data[["Weight","Shucked Weight","Viscera Weight","Shell Weight"]].mean().mean()

11.18505416634679

In [17]:
Data1=pd.read_csv(r"C:\Users\hi\Downloads\tipsf.csv")
Data1

     Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0             0       16.99  1.01    0       0    1     0     2
1             1       10.34  1.66    1       0    1     0     3
2             2       21.01  3.50    1       0    1     0     3
3             3       23.68  3.31    1       0    1     0     2
4             4       24.59  3.61    0       0    1     0     4
..          ...         ...   ...  ...     ...  ...   ...   ...
239         239       29.03  5.92    1       0    0     0     3
240         240       27.18  2.00    0       1    0     0     2
241         241       22.67  2.00    1       1    0     0     2
242         242       17.82  1.75    1       0    0     0     2
243         243       18.78  3.00    0       0    2     0     2

[244 rows x 8 columns]

In [18]:
data1=Data.copy()

In [19]:
#1
Data1["total_bill"].sum()

4827.77

In [20]:
#2
Data1["tip"].sum()

731.5799999999999

In [21]:
#3
Data1["day"].value_counts()

0    87
1    76
2    62
3    19
Name: day, dtype: int64

In [22]:
#4
Data1.loc[Data1["smoker"]==1,["smoker"]].size

93

In [23]:
#5
Data1.loc[Data1["sex"]==0,["tip"]].mean()

tip    2.833448
dtype: float64

In [24]:
Data1.loc[Data1["sex"]==1,["tip"]].mean()

tip    3.089618
dtype: float64

In [25]:
#6
Data1.loc[Data1["sex"]==0,["total_bill"]].sum()

total_bill    1570.95
dtype: float64

In [26]:
Data1.loc[Data1["sex"]==1,["total_bill"]].sum()

total_bill    3256.82
dtype: float64

In [27]:
#7
Data1["tip"].max()

10.0

In [28]:
Data1["tip"].min()

1.0

In [29]:
#8
Data1.loc[Data1["time"]==0,["sex"]].value_counts()

sex
1      124
0       52
dtype: int64

In [30]:
Data1.loc[Data1["time"]==1,["sex"]].value_counts()

sex
0      35
1      33
dtype: int64

In [108]:
#9
Data1["size"].mean()

2.569672131147541

In [135]:
#10
Data1.loc[Data1["smoker"]==1,["sex"]].value_counts()

sex
1      60
0      33
dtype: int64